extends jqmobile

block content
  div(data-role='page')
    div(data-role='header', data-theme='b')
      h1(class="studentname") Intelliseats 
      | <a href="/" data-icon="home" class="ui-btn-left">Home</a>
      | <a href="/login" rel="external" data-ajax="false" data-icon="grid" class="ui-btn-right">Login</a>

    div(data-role='content', data-theme='b')
      h2 Seating Chart
      p #{intro}
      p#guide To log in, you'll need an <a href="https://inbloom.org/developer-account-registration">inBloom developer account</a> with a proper sandbox setup. Enter your username + password and use <strong>Linda Kim</strong>. Then you're all set!
