extends jqmobile

block content
  div(data-role='page')
    div(data-role='header', data-theme='b')
      h1(class="studentname") Intelliseats 
      | <a href="/" data-icon="home" class="ui-btn-left">Home</a>
      | <a href="/login" rel="external" data-ajax="false" data-icon="grid" class="ui-btn-right">Login</a>

    div(data-role='content', data-theme='b')
      h2 Seating Chart
      p #{intro}
      #h3 To log in, you'll need an <a href="http://dev.slcedu.org">SLC deveoper account</a> with a proper sandbox setup. Enter your username + password and use <strong>jstevenson</strong> with the <strong>IT Administrator</strong> role. Then you're all set!
      h3 Can't log in? Try the <a href="http://seatsplus.azurewebsites.net/intelliseats.html" rel="external">Old Demo Version</a>
      // put some jqmobile stuff here
