extends jqmobile

block content
  div(data-role='page')
    div(data-role='header', data-theme='b')
      h1 IntelliSeats

    div(data-role='content', data-theme='b')
      h2 Seating Chart
      p Did it work? #{test}
      // put some jqmobile stuff here

