extends jqmobile

block content
  div(data-role='page')
    div(data-role='header', data-theme='b')
      h1(class="studentname") Intelliseats 
      | <a href="/" data-icon="home" class="ui-btn-left">Home</a>
      // if token then logout else login
      | <a href="/login" rel="external" data-ajax="false" data-icon="grid" class="ui-btn-right">Login</a>

    div(data-role='content', data-theme='b')
      h2 Welcome back #{displayName}
      
      // put some jqmobile stuff here

