#sortable { 
  list-style-type: none; margin: 0; padding: 0; height: 100%; 
}

#sortable li { 
  margin: 3px 3px 3px 0; 
  padding: 1px; 
  float: left; 
  width: 160px; 
  height: 180px; 
  font-size: 1em; 
  text-align: center; 
  border: 1px #dddddd solid;
}

.studentname {
  font-family: 'Sanchez', serif;
}

.headshot {
  padding-top: 0.5em;
}

body {
  height: 100%;
}

.icon {
  height: 25px;
  width: 20px;
  padding-right: 0.2em;
}

.badstudent {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQImWP4wMBw5j0DQ8N7BoaGDwwMZxhgHBjGFEDXAgA93xglAV6k0gAAAABJRU5ErkJggg==);
  border-radius: 15px;
}

.warningstudent {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQImWP48IThzIcnDDOh+AwDEmfmhycMM7EKoGgBAFFdJ51OSKBBAAAAAElFTkSuQmCC);
  border-radius: 15px;

}

.goodstudent {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQImWOQ7Bc/I9Uv0SDVL9Eg2S9+hgHGgWFMAXQtAMouFTmCoQ0gAAAAAElFTkSuQmCC);
  border-radius: 15px;
}